$base-font: "Nunito Sans", sans-serif;
//@import "~materialize-css/sass/components/color-classes.scss";
//@import "~materialize-css/sass/components/color-variables.scss";
@import "~materialize-css/sass/materialize.scss";

$base-font: "Nunito Sans", sans-serif;
$button-background: rgb(0, 112, 60);
$button-box-shadow: rgb(0, 45, 24);
$black: rgba(0,0,0,0);
$tag-border: rgb(191, 193, 195);
$secondary-background: rgb(29, 112, 184);
$secondary-text: rgb(255, 255, 255);
$warning-background: rgb(11, 12, 12);
$warning-text: rgb(213, 56, 128);
$gray: rgb(112, 112, 112);

main {
    padding-top: 50px;
}

th {
    white-space: nowrap;
}

h2 {
    font-size: 2.5rem;
}

table {
    margin-bottom: 2em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $base-font;
}

.button {
    background-color: $button-background;
    box-shadow: 0 2px 0 $button-box-shadow;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    padding: 8px 10px 7px;
    color: $secondary-text;
    border: 2px solid $black;
}

.tag-container {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $tag-border;
    display: inline-block;
}

.tag-item {
    font-weight: 700;
    display: inline-block;
    padding: 1px 8px 1px;
    outline: transparent solid 2px;
    color: $secondary-text;
    background-color: $secondary-background;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
}

.tag-label {
    display: inline;
}

.fc-nav {
    background-color: $secondary-background;
    color: $secondary-text;
}

.fc-logo {
    margin-left: 10px;
}

.warning-container {
    
}

.warning-label {
    vertical-align: top;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    color: $warning-text;
    width: 90%;
}

.matches-found {
    text-align:center;
    font-weight: 700;
}


td {
    a {
        display: block;
        padding: 4px;
    }

    &.person {
        text-align:left;
    }
}

span {
    &.records {
        background-color: $secondary-background;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        padding: 1px 8px 1px;
        outline: transparent solid 2px;
        color: $secondary-text;
    }
    &.norecords {
        background-color: $gray;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        padding: 1px 8px 1px;
        outline: transparent solid 2px;
        color: $secondary-text;
    }
}

.service-row {
    padding-top: 10px;
}

.service-title {
    font-size: 1.1875rem;
    font-weight: 700;
    padding-top: 10px;
}

.alerts {
    width: 100%;
    left: 0;
    z-index: 10;
  
    .card-content {
      display: flex;
      flex-direction: row;
  
      p {
        flex: auto;
      }
  
      span {
        padding-left: 10px;
      }
  
      button {
        position: relative;
        background: transparent;
        border: none;
        width: 20px;
        flex: 0 0 20px;
        cursor: pointer;
      }
    }
}
  