$base-font: "Nunito Sans", sans-serif;
//@import "~materialize-css/sass/components/color-classes.scss";
//@import "~materialize-css/sass/components/color-variables.scss";
@import "~materialize-css/sass/materialize.scss";

$primary-color: rgb(206, 90, 87);
$secondary-color: rgb(120, 165, 163);

main {
    padding-top: 50px;
}

th {
    white-space: nowrap;
}

h2 {
    font-size: 2.5rem;
}

table {
    margin-bottom: 2em;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
font-family: $base-font !important;
}

.button {
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    padding: 8px 10px 7px;
    color: #ffffff;
    border: 2px solid rgba(0,0,0,0);
}

.tag-container {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(191,193,195);
    display: inline-block;
}

.tag-item {
    font-weight: 700;
    display: inline-block;
    padding: 1px 8px 1px;
    outline: transparent solid 2px;
    color: rgb(255,255,255);
    background-color: rgb(29,112,184);
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline;
}

.tag-label {
    display: inline;
}

.fc-nav {
    background-color: rgb(29,112,184);
    color: white;
}

.fc-logo {
    margin-left: 10px;
}

.warning-container {
    //box-sizing: border-box;
    //position: relative;
}

.warning-tag {
    vertical-align: top;
    font-weight: 700;
    //box-sizing: border-box;
    //display: inline-block;
    width: 35px;
    //min-width: 35px;
    //min-height: 35px;
    border: 3px solid #0b0c0c;
    border-radius: 50%;
    color: #fff;
    background: #0b0c0c;
    font-size: 30px;
    //line-height: 29px;
    text-align: center;
    user-select: none;
}

.warning-label {
    vertical-align: top;
    font-weight: 700;
    color: #0b0c0c;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    color: #d53880;
    //display: inline-block;
    width: 90%;
}

.matches-found {
    text-align:center;
    font-weight: 700;
}

td a {
   display: block;
   padding: 4px;
}

td .person {
    text-align:left;
}

span.records {
    background-color: rgb(29, 112, 184);
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 1px 8px 1px;
    outline: transparent solid 2px;
    color: rgb(255,255,255);
}

span.norecords {
    background-color: rgb(112, 112, 112);
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 1px 8px 1px;
    outline: transparent solid 2px;
    color: rgb(255,255,255);
}

.service-row {
    padding-top: 10px;
}

.service-title {
    font-size: 1.1875rem;
    font-weight: 700;
    padding-top: 10px;
}