<h2>Related Individuals from Your Case Management System</h2>
<div class="container warning-container row">
    <div class="chip warning-tag col s1">!</div><div class="warning-label col">Please note: once selecting an	
        individual from the list below, you may see sensitive information about that individual.	
    </div>
</div>
<div class="container">
    <div>
        {{relation_count}} individuals are linked to {{person.first_name}} {{person.last_name}} in
        your Case Management System
    </div>

    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>Relationship</th>
                <th>NHS number</th>
                <th>First Name</th>
                <th>Family Name</th>
                <th>Date of Birth</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in person.relationships.all %}
            <tr>
                <td>{{r.relation_type}}</td>
                <td>{{r.relation.nhs_number}}</td>
                <td>{{r.relation.first_name}}</td>
                <td>{{r.relation.last_name}}</td>
                <td>{{r.relation.date_of_birth}}</td>
                <td><a class="btn-small grey lighten-3  black-text" href="{% url 'person' person_id=r.relation.id %}">Show</a></td>
            </tr>
            {% endfor %}
            {% for r in person.reverse_relationships.all %}
            <tr>
                {% if r.relation_type == "Parent" %}
                    <td>Child</td>
                {% endif %}
                <td>{{r.person.nhs_number}}</td>
                <td>{{r.person.first_name}}</td>
                <td>{{r.person.last_name}}</td>
                <td>{{r.person.date_of_birth}}</td>
                <td><a class="btn-small grey lighten-3  black-text" href="{% url 'person' person_id=r.person.id %}">Show</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>