<h2>Details of Service Involvements</h2>
<div class="container warning-container row">
    <div class="chip warning-tag col s1">!</div><div class="warning-label col">For more details about
    service involvement click here
    </div>
</div>
<div class="container">
    {% for service in service_list %}
    <div class="divider"></div>
    <div class="row service-row valign-wrapper">
        <div class="col s4 service-title">{{service.title}}</div>
        {% if service.records > 0 %}
        <div class="col s5 center-align"><span class="badge records"><i class="tiny material-icons">check</i>Records Found</span></div>
        <div class="col s3 right-align"><a id="{{service.id}}-toggle" class="btn-small grey lighten-3 black-text" onCLick="fetchServiceRecords({{service.id}}, {{person.id}})">Show</a></div>
        {% else %}
        <div class="col s5 center-align"><span class="badge norecords"><i class="tiny material-icons">clear</i>No Records Found</span></div>
        <div class="col s3 right-align"></div>
        {% endif %}
    </div>
    <div class="row">
        <div id="{{service.id}}-records" class="container col s12"></div>
    </div>
    {% endfor %}
</div>

{% block javascript %}
    <script>
        function fetchServiceRecords(service_id, person_id) {
            if(!service_id || !person_id){
                return;
            }
            var current = $('#'+service_id+'-records').html();
            if (current === "") {
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_service_records' person_id=person.id service_id=9999 %}".replace(/9999/,service_id.toString()),
                    dataType: "html"
                });

                request.done(function(msg) {
                    $('#'+service_id+'-records').html( msg.replace(/\r?\n|\r/g, "").replace('"',""));
                    $('#'+service_id+'-toggle').html("Hide");
                });
            } else {
                $('#'+service_id+'-records').html("");
                $('#'+service_id+'-toggle').html("Show");
            }

        }
    </script>
{% endblock javascript %}
